{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Admin Dashboard</h2>

        <div>

            <a href="{% url 'upload_movie' %}"
               class="btn btn-success">
                Upload Movie
            </a>

            <a href="{% url 'movie_management' %}"
               class="btn btn-primary">
                Manage Movies
            </a>

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h5>Total Movies</h5>
                <h2>{{ total_movies }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h5>Categories</h5>
                <h2>{{ total_categories }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h5>Channels</h5>
                <h2>{{ total_channels }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h5>Verified Users</h5>
                <h2>{{ verified_users }}</h2>
            </div>
        </div>

    </div>

</div>

{% endblock %}