<h1>{{ movie.title }}</h1>

<p>
Category:
{{ movie.category }}
</p>

<p>
Year:
{{ movie.year }}
</p>

<p>
Quality:
{{ movie.quality }}
</p>

{% if movie.poster %}
<img src="{{ movie.poster.url }}" width="250">
{% endif %}

{% if is_verified %}
    <a href="{% url 'watch_movie' movie.id %}"
       class="btn btn-success">
       Watch Now
    </a>

    <a
    href="{% url 'add_to_watchlist' movie.id %}"
    class="btn btn-warning">
    ⭐ Add To Watchlist
    </a>

    <a href="{% url 'download_movie' movie.id %}"
       class="btn btn-primary">
       Download
    </a>
{% else %}
    <div class="alert alert-warning">
        Please verify your Telegram account and join
        the required channels to watch or download
        this content.
    </div>

    <a href="{% url 'verify_telegram' %}"
       class="btn btn-warning">
       Verify Telegram
    </a>
{% endif %}